<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<div class="dbox">
    	<div class="dboxl">
        	<!--[diy=diyhdp]--><div id="diyhdp" class="area"></div><!--[/diy]-->
        </div>
        <div class="dboxr">
        	<ul><!--[diy=diyrank]--><div id="diyrank" class="area"></div><!--[/diy]--></ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
	<div class="box box1">
    	<h1><span>圈子</span><a href="#" target="_blank">更多+</a><div class="clear"></div></h1>
        <div class="clear"></div>
        <ul>
        	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
        </ul>
    </div>
	<div class="clear"></div>
    <div class="box box2">
    	<h1><span>圈子</span><a href="#" target="_blank">更多+</a><div class="clear"></div></h1>
        <div class="clear"></div>
        <ul>
        	<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
        </ul>
    </div>
    <div class="clear"></div>
    <div class="box box3">
    	<h1><span>东西</span><a href="#" target="_blank">更多+</a><div class="clear"></div></h1>
        <div class="clear"></div>
        <ul>
        	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
        </ul>
    </div>
    <div class="clear"></div>
    <div class="box box4">
    	<h1><span>乐活</span><a href="#" target="_blank">更多+</a><div class="clear"></div></h1>
        <div class="clear"></div>
        <ul>
        	<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
        </ul>
    </div>
    <div class="clear"></div>
    <div class="box box5">
    	<h1><span>说话</span><a href="#" target="_blank">更多+</a><div class="clear"></div></h1>
        <div class="clear"></div>
        <ul>
        	<!--[diy=diy5]--><div id="diy5" class="area"></div><!--[/diy]-->
        </ul>
    </div>
    <div class="clear"></div>
    <div class="box box6">
    	<h1><span>态度</span><a href="#" target="_blank">更多+</a><div class="clear"></div></h1>
        <div class="clear"></div>
        <ul>
        	<!--[diy=diy6]--><div id="diy6" class="area"></div><!--[/diy]-->
        </ul>
    </div>
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=$_GET['diy']&r={echo random(4)}" type="text/javascript"></script>
<!--{subtemplate common/footer}-->
